@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header, .first-section {
    background: #1f2937;
}

/* ---------Header Section--------- */

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
}

.header ul {
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.logo, .hero {
    color: #f9faf8;
}

.logo {
    font-size: 24px;
}

/* --------------First Section----------- */

.first-section {
    color: #f9faf8;
}

.second-section {
    background: blue;
    
}

.third-section {
    background: green;
    
}

.fourth-section {
    background: yellow;
    
}

.footer {
    background: orange;
    
}