@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-width: 1200px;
    margin: 0;
    font-family: Roboto, sans-serif;
}



.header, .first-section {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    
}


/* -------------------Fonts and Colours------------------ */

.logo, .hero-text {
    color: #f9faf8;
}

.header a, .hero-subtext, .subscript {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
}

.subscript {
    font-size: 10px;
}

.logo, .quote-author {
    font-size: 24px;
}

.info-header, .quote-text {
    font-size: 36px;
    text-align: center;
    margin: auto;
}

.info-header, .quote-author {
    font-weight: bolder;
    color: #1f2937;
}




/* ------------------------Multi-Use Button----------------- */

button{
    color: white;
    background: #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
}

/* ---------Header Section--------- */

.header {
    padding: 10px 150px;
}

.header ul {
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header a {
    text-decoration: none;
}



/* --------------First Section----------- */

.first-section {
    padding: 100px 150px;
}

.hero{
    width: 500px;
    flex-shrink: 0;
}

.hero-text, .hero-subtext {
    margin-bottom: 20px;
}

/* --------------Second Section----------- */

.second-section {
    padding: 50px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-width: 1000px;
    padding: 50px 0;
}

.info-card {
    width: 200px;
    height: 300px;
}

.info-card img {
    width:200px;
    height: auto;
    border-color: #5c5607;
    border-width: 5px;
    border-radius: 20px;
    border-style: solid;
}

.card-text {
    text-align: center;
}

/* --------------Third Section------------- */


.third-section {
    background: #e5e7eb;
    padding: 100px 150px ;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.quote-text {
    font-weight: 100;
    font-style: italic;
}

/* ---------------Fourth Section------------- */

.fourth-section {
    background: yellow;
    
}

/* ---------------Footer-------------------- */

.footer {
    background: orange;
}